﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<!---<h3>@ViewBag.Message</h3> -->

<address>
    Ardhian Agung P<br />
    Java, Indonesia<br />
    <abbr title="Phone">Phone:</abbr>
    +62 81.2345.XXXX
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>