﻿
@{
    ViewBag.Title = "Category";
}

<div class="panel panel-dark">
    <div class=" panel-heading">

    </div>
    <div class="panel-body">
        <div class="btn-group btn-group-md">
            <a id="btn-create-new" class="btn btn-success btn-md">
                <i class="glyphicon glyphicon-plus"> </i> Create New
            </a>
        </div>
        <div style="display: flex; justify-content: flex-end">
            <c>
                <div class="btn-group">
                    <input type="text" id="txt-search" class="form-control form-group-lg" placeholder="Search..." />
                </div>
            </c>
            &nbsp;
            <c>
                <div class="btn-group btn-group-sm">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                            Order By
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li> <a id="btn-asc">Ascending</a> </li>
                            <li> <a id="btn-desc">Descending</a> </li>
                        </ul>
                    </div>
                </div>
            </c>
            &nbsp;
            <c>
                <div class="btn-group btn-group-sm">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                            Status
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li> <a id="btn-active">Active</a> </li>
                            <li> <a id="btn-nonactive">Non Active</a> </li>
                        </ul>
                    </div>
                </div>
            </c>
            &nbsp;
        </div>
    </div>
    <div id="data-list">
        Loading...
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
                <h4 class="modal-title">Modal Title</h4>
            </div>
            <div class="modal-body">
                <p> One fine body&hellip;</p>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
    $(document).ready(function () {
        GetList();
    });

    function GetList() {
	$.ajax({
		url: '@Url.Action("List", "Category")',
		type :'get',
		success: function (result) {
			$("#data-list").html(result);
		}
	});
    }

	$("#btn-create-new").click(function () {
		$.ajax({
			url: '@Url.Action("Create", "Category")',
            type: 'get',
            data: {id: $(this).attr("data-id")},
			success: function (result) {
				$(".modal-title").html("Create New - Category");
				$(".modal-body").html(result);
				$(".modal").modal("show");
			}
		});
    });

    $("#txt-search").keyup(function () {
		$.ajax({
			url: '@Url.Action("CategoryList", "Category")',
            type: 'get',
            data: { search: $("#txt-search").val() },
			success: function (result) {
				$("#data-list").html(result);
			}
		});
    });

    $("#btn-asc").click(function () {
		$.ajax({
			url: '@Url.Action("OrderAscList", "Category")',
            type: 'get',
			success: function (result) {
				$("#data-list").html(result);
			}
		});
    });

    $("#btn-desc").click(function () {
		$.ajax({
			url: '@Url.Action("OrderDescList", "Category")',
            type: 'get',
			success: function (result) {
				$("#data-list").html(result);
			}
		});
    });

    $("#btn-active").click(function () {
		$.ajax({
			url: '@Url.Action("ActiveList", "Category")',
            type: 'get',
			success: function (result) {
				$("#data-list").html(result);
			}
		});
    })

    $("#btn-nonactive").click(function () {
		$.ajax({
			url: '@Url.Action("NonActiveList", "Category")',
            type: 'get',
			success: function (result) {
				$("#data-list").html(result);
			}
		});
     })
    </script>
}



