﻿@model IEnumerable<XPos.ViewModel.VariantViewModel>


<table class="table table-hover">
    <thead class="thead-info">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Initial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
        </tr>
    </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Initial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td>
                    <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-warning btn-edit" data-id="@item.Id" title="Edit">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true">
                            </span>
                        </button>
                    </div>
                    <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-danger btn-delete" data-id="@item.Id" title="Delete">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true">
                            </span>
                        </button>
                    </div>
                </td>
            </tr>
        }

</table>

<script type="text/javascript">

    $(".btn-edit").click(function () {
		$.ajax({
			url: '@Url.Action("Edit", "Variant")',
            type: 'get',
            data: {id: $(this).attr("data-id")},
			success: function (result) {
				$(".modal-title").html("Edit - Variant");
				$(".modal-body").html(result);
				$(".modal").modal("show");
			}
		});
    });

    $(".btn-delete").click(function () {
		$.ajax({
			url: '@Url.Action("Delete", "Variant")',
            type: 'get',
            data: {id: $(this).attr("data-id")},
			success: function (result) {
				$(".modal-title").html("Delete - Variant");
				$(".modal-body").html(result);
				$(".modal").modal("show");
			}
		});
	});
</script>
