﻿@{ ViewBag.Title = "Order App"; }

<h2>@ViewBag.Title</h2>
<div class="panel panel-default">
    <div class="panel-heading">
        <input type="button" id="btn-new-order" value="New Order" class="btn btn-success" /> &nbsp;
        <input type="button" id="btn-payment" value="Payment" class="btn btn-primary" /> &nbsp;
        <input type="button" id="btn-new-trans" value="New Transaction" class="btn btn-danger" />

    </div>
    <div class="panel-body">
        <table class="table table-bordered" id="order-table">
            <thead>
                <tr>
                    <th style="width: 40%">Product Name</th>
                    <th style="width: 10%">Stocks</th>
                    <th style="width: 20%">Price</th>
                    <th style="width: 15%">Quantity</th>
                    <th style="width: 15%">Amount</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @*Order List ada disini*@
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="2">
                        Total
                    </th>
                    <th>
                        <input type="number" id="tot-qty" value="0" name="tot-qty" class="form-control" disabled/>
                    </th>
                    <th>
                        <input type="number" id="tot-amount" value="0" name="tot-amount" class="form-control" disabled/>
                    </th>
                    
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $("#btn-new-order").click(function () {
            $.ajax({
                url: '@Url.Action("ProductListForOrder", "Product")',
                type: 'get',
                success: function (result) {
                    $(".modal-body").html(result);
                    $(".modal-title").html("Select New Order");
                    $(".modal").modal("show");
                }
            })
        });

        function Remove(obj) {
            var tr = $(obj).closest('tr');
            var qty = tr.find("input[name=Quantity]").val();
            if (qty <= 0) {
                tr.remove();
            } else {
                var answer = confirm("Yakin mau dihapus?");
                if (answer) {
                    tr.remove();
                    Summary();
                }
            }
        }

        function Calculate(obj) {
            var tr = $(obj).closest('tr');
            var prc = tr.find("input[name=Price]").val();
            var qty = tr.find("input[name=Quantity]").val();
            var amount = parseFloat(prc) * parseFloat(qty);
            tr.find("input[name=Amount]").val(amount);
            Summary();
        }

        function Summary() {
            var qty = 0;
            var amount = 0;

            $("#order-table tbody").find("tr").each(function () {
                qty += parseFloat($(this).find("input[name=Quantity]").val());
                amount += parseFloat($(this).find("input[name=Amount]").val());
            })
            $("#tot-qty").val(qty);
            $("#tot-amount").val(amount);
            if (qty <= 0) {
                alert("The number of quantity is must not be less than equal zero");
                //Summary();
                //history.go(-2)
                window.location.reload();
            }
        }

        var data = {};

        $("#btn-payment").click(function () {
            var details = [];
            $("#order-table tbody").find("tr").each(function () {
                var prodId = $(this).find("input[name=ProductId]").val();
                var prodName = $(this).find("input[name=ProductName]").val();
                var prc = $(this).find("input[name=Price]").val();
                var qty = $(this).find("input[name=Quantity]").val();
                var amount = $(this).find("input[name=Amount]").val();
                detail = {
                    ProductId: prodId,
                    ProductName: prodName,
                    Price: prc,
                    Quantity: qty,
                    Amount: amount
                };
                details.push(detail);
            });

            // Menampilkan data di console browser
            //console.log(details);

            data = {
                Quantity: $("#tot-qty").val(),
                Amount: $("#tot-amount").val(),
                Details: details
            }

            $.ajax({
                url: '@Url.Action("Payment", "Order")',
                type: 'post',
                data: { model: data },
                success: function (result) {
                    $(".modal-body").html(result);
                    $(".modal-title").html("Payment.");
                    $(".modal").modal("show");
                }
            })
        });

        $("#btn-new-trans").click(function () {
            window.location.reload();   
        });


    </script>
}